@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme inline {
  --font-title: "IBM Plex Sans Variable", sans-serif;
  --color-accent-primary: #c38133;
  --color-accent-secondary: #3c4cc7;
  --animate-fadeIn: fadeIn 1s ease-out forwards;
  --animate-fadeWorks: fadeIn 0.5s ease-out forwards;
  --animate-fadeOut: fadeOut 1s ease-in forwards;
  --animate-revealX: revealX 1s ease-in-out forwards;
  --animate-revealY: revealY 1s ease-in-out forwards;
  --animate-loader: loader 1s ease-in-out forwards;
  --animate-slideUp: slideUp 0.5s ease-out forwards;

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes revealX {
    0% {
      clip-path: inset(0 100% 0 0);
      opacity: 1;
    }
    100% {
      clip-path: inset(0 0 0 0);
      opacity: 1;
    }
  }

  @keyframes revealY {
    0% {
      clip-path: inset(0 0 100% 0);
      opacity: 1;
    }
    100% {
      clip-path: inset(0 -100px 0 -100px);
      opacity: 1;
    }
  }

  @keyframes loader {
    0% {
      width: 100%;
      opacity: 1;
    }
    50% {
      width: 50%;
      opacity: 1;
    }
    100% {
      width: 50%;
      opacity: 0;
    }
  }

  @keyframes slideUp {
    0% {
      opacity: 1;
      transform: translateY(100px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@layer base {
  html,
  body {
    @apply bg-white text-black;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    font-family: "Lora Variable", serif;
    line-height: 1.2;
  }
  body {
    overflow-x: hidden;
  }
  .title {
    font-family: "IBM Plex Sans Variable", sans-serif;
    letter-spacing: -0.06em;
    line-height: 0.85;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
