---
import { locales } from "@i18n/utils";

const currentLang = Astro.currentLocale as keyof typeof locales;
const text = {
  en: "Close",
  es: "Cerrar",
};
---

<!-- Bot贸n flotante con texto circular -->
<div
  id="floatingCloseButtonWrapper"
  class="animate-slideUp fixed bottom-0 left-1/2 z-11 flex -translate-x-1/2 justify-center pb-3 opacity-0 mix-blend-difference lg:pb-12 lg:[animation-delay:2.5s]"
>
  <!-- Bot贸n principal -->
  <button
    class="z-11 size-17 cursor-pointer rounded-full bg-black shadow-lg/20 lg:size-20"
  ></button>

  <!-- Texto circular SVG -->
  <svg
    id="circularCloseTextSVG"
    viewBox="0 0 130 130"
    class="pointer-events-none absolute right-[-45px] bottom-[-10px] z-0 transition-transform duration-500 lg:bottom-[25px]"
  >
    <defs>
      <path d="M65,65 m-30,0 a30,30 0 1,1 60,0 a30,30 0 1,1 -60,0"></path>
    </defs>
    <g transform="rotate(180 65 65)">
      <text font-size="1.2em">
        <textPath
          href="#circularTextPath"
          startOffset="50%"
          text-anchor="middle"
          fill="#fff"
        >
          {text[currentLang]}
        </textPath>
      </text>
    </g>
  </svg>
</div>

<script is:inline data-astro-rerun>
  (() => {
    const wrapper = document.getElementById("floatingCloseButtonWrapper");
    const svg = document.getElementById("circularCloseTextSVG");

    let rotation = 0;

    // Animaci贸n de rotaci贸n continua al hacer hover
    wrapper.addEventListener("mouseenter", () => {
      rotation += 180;
      svg.style.transform = `rotate(${rotation}deg)`;
    });

    wrapper.addEventListener("mouseleave", () => {
      rotation += 180;
      svg.style.transform = `rotate(${rotation}deg)`;
    });

    //Back
    wrapper.addEventListener("click", () => {
      history.back();
    });
  })();
</script>
