---
import { getRelativeLocaleUrl } from "astro:i18n";

interface Props {
  to: string;
  lang: string;
  styles?: string;
}

const { to, lang, styles } = Astro.props;
---

<a
  href={getRelativeLocaleUrl(lang, to)}
  class:list={[
    "hover:bg-black font-title hover:text-white flex w-auto cursor-pointer items-center justify-center border px-5 py-2 text-xs font-medium transition-colors duration-500",
    styles,
  ]}
>
  <slot />
</a>
